.about-cont {
    margin-top:-45%;
    background-color:black;
    height:45vw;
}

.about-heading {
    padding-top:5%;
    text-align:left;
    padding-left:10%;
    color:white;
}

.heading {
    padding-bottom:2%;
}

.text {
    padding-left:2%;
}