.leadership {
    background-color: white
}

.leadership-heading {
    color:black;
}

.tutors {
    background-color: black;
}

.tutors-heading {
    color:white;
}

.testimonials {
    background-color:rgb(5, 252, 252);
}

